<div>
  <h1>Artists</h1>
  <ul>
    <li *ngFor="let artist of artists" (click)="selectArtist(artist)">
      {{ artist.name }} ({{ artist.country }})
    </li>
  </ul>

  <div *ngIf="selectedArtist">
    <h2>Edit Artist</h2>
    <form #editForm="ngForm" (ngSubmit)="updateArtist()">
      <label>Name: <input [(ngModel)]="selectedArtist.name" name="name" required /></label>
      <label>Country: <input [(ngModel)]="selectedArtist.country" name="country" required /></label>
      <label>Birth Date: <input [(ngModel)]="selectedArtist.birthDate" type="date" name="birthDate" required /></label>
      <button type="submit" [disabled]="!editForm.form.valid">Update</button>
      <button type="button" (click)="deleteArtist(selectedArtist.id)">Delete</button>
    </form>
  </div>

  <div>
    <h2>Add New Artist</h2>
    <form #addForm="ngForm" (ngSubmit)="addArtist()">
      <label>Name: <input [(ngModel)]="newArtist.name" name="name" required /></label>
      <label>Country: <input [(ngModel)]="newArtist.country" name="country" required /></label>
      <label>Birth Date: <input [(ngModel)]="newArtist.birthDate" type="date" name="birthDate" required /></label>
      <button type="submit" [disabled]="!addForm.form.valid">Add</button>
    </form>
  </div>
</div>
